@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
} 

/* Home Page: */

body {
  overflow: hidden;
}

#container {
  overflow-y:scroll; 
  height: 100vh;
  background-color: #fff;
  scroll-behavior: smooth;
}

#bghome {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.40),
    rgba(0, 0, 0, 0.40)
  ),
  url(/images/bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  height: 100%; 
  position: relative;
  min-height: 100vh;
}

#mainnav {
  float: right;
  margin: 50px 90px;
}

#mainnav a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  background: #ddd;
  box-shadow: 2px 2px 3.5px 1px #000;
  margin: 5px;
  transition: 0.5s;
}

#mainnav a:nth-child(1){
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

#mainnav a:nth-child(3) {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

#mainnav a:hover {
  background: #fff;
}

#mainnav a:active {
  box-shadow: 1px 1px 0.5px 0.5px #000;
}

#myname {
  float: left;
  color: #eee;
  text-shadow: 2px 2px 1px #000;
  font-weight: 500;
  margin: 50px 90px;
  font-size: 1.2em;
}

#maintext {
  color: #eee;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 600px;
 
  letter-spacing: 4px;
  text-shadow: 2px 3px 3px #000;
  line-height: 4.5em;
}

#maintext h2 {
  font-size: 35px;
}

#maintext h1 {
  font-size: 55px;
}

#social {
  position: absolute;
  top: 88%;
  left: 45%;
}

#social img {
  border-radius: 25%;
  color: rgba(0, 0, 0, 0.50);
  height: 60px;
  width: 60px;
  padding: 0 10px;
  opacity: 0.5;
  filter: invert(99%) sepia(3%) saturate(111%) hue-rotate(254deg) brightness(112%) contrast(87%);  
  transition: 0.5s;
}

#social img:hover {
  opacity: 0.7;
  cursor: pointer;
  height: 70px;
  width: 70px;
}


/* Sobre: */

#sobre {
  width: 100%;
  min-height: 90vh;
  padding-top: 94px;
}

#abouttext h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

#abouttext p {
  text-align: left;
  font-size: 1.1em;
  width: 60%;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 25px;
}


/* Desafio - Card: */

#gitDiv {
  text-align: center;
}

#gitDiv img {
  width: 28px;
  margin-left: -45px;
  margin-bottom: -8px;
  cursor: pointer;
}

#inputGit {
  width: 800px;
  border: 3px solid #eee;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  transition: .15s;
  margin-bottom: 50px;
}

#inputGit:focus {
  box-shadow: 0 0 10px 0 rgb(128, 189, 141);
  width: 850px;
}

#inputGit:hover {
  box-shadow: 0 0 10px 0 rgb(128, 189, 141);
}

#desafio {
  background-color: rgb(232, 245, 235);
  min-height: 85vh;
  padding-bottom: 100px;
}

#desafio h2 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 2em;
  padding: 100px;
  opacity: 80%;
}

#profile {
  background-color: #fff;
  padding: 20px;
  width: 800px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0 10px #ddd;
}

#profile h1 {
  text-align: center;
  font-size: 1.8em;
  color: rgb(6, 50, 23);
  opacity: 80%;
}

.container-gitRepo {
  display: flex;
  color: rgb(6, 50, 23);
  font-weight: 700;
  align-items: center;
  opacity: 80%;
}

.left {
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.left a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: rgb(6, 50, 23);
  margin-top: 30px;
  text-align: center;
  transition: 0.3s;
}

.left a:hover {
  color:  rgb(151, 215, 173);
}

.left img {
  height: 180px;
  border-radius: 50%;
  opacity: 100%;
  border: 3px solid rgb(6, 50, 23);
  box-shadow: 0 0 5px #222;
  transition: 0.3s;
}

.left img:hover {
  opacity: 85%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 60px;
  height: 300px;
}

.right ul {
  list-style: none;
  font-size: 1.1em;
  margin-top: 40px;
}

.right ul li{
  line-height: 30px;
}

.btn input {
  cursor: pointer;
  width: 200px;
  height: 44px;
  font-weight: 700;
  border: 2px solid rgb(151, 215, 173);
  color: rgb(151, 215, 173);
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 100%;
  border-radius: 3px;
  transition: 0.3s;
  box-shadow: 0 0 3px #ddd;
}

.btn input:hover {
  outline: 0;
  background-color: rgb(151, 215, 173);
  border: 2px solid rgb(121, 197, 148);
  color: #fff;
}

.btn input:focus {
  outline: 0;
}

.btn input:active {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}

#btn-starred {
  margin-left: 20px;
}

/* Desafio - Repositórios: */

#repo {
  margin: 20px 50px;
  display: none;
}

#repo h3 {
  color: rgb(6, 50, 23);
  margin-bottom: 30px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#repo hr {
  background-color: #aaa; 
  height: 1px; 
  border: 0; 
  opacity: 15%;
  margin-left: 5%;
  margin-bottom: 50px;
}

#repo ul {
  list-style: none;
}

#repo ul li {
  background-color: rgb(210, 238, 223);
  padding: 7px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

#repo ul li:nth-child(even) {
  background-color: #fff;
}

/* Desafio - Favoritos: */

#starred {
  margin: 20px 50px;
  display: none;
}

#starred h3 {
  color: rgb(6, 50, 23);
  margin-bottom: 30px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#starred hr {
  background-color: #aaa; 
  height: 1px; 
  border: 0; 
  opacity: 15%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
}

#starred ul {
  list-style: none;
}

#starred ul li {
  background-color: rgb(210, 238, 223);
  padding: 7px;
  letter-spacing: 1px;
}

#starred ul li:nth-child(even) {
  background-color: #fff;
}


/* Footer: */

footer {
  background-color: rgb(48, 48, 48);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  box-sizing: border-box;
}

footer p {
  color: #eee;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}